.custom-modal {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.login-card {
  background: linear-gradient(
    89.4deg,
    rgb(74, 77, 103) -4.3%,
    rgb(119, 125, 165) 102.1%
  );
}
