@import "assets/styles/Colors.scss";
@import "assets/styles/layouts/Login";
@import "assets/styles/components/AppBar";
@import "assets/styles/layouts/MainLayout.scss";
@import "assets/styles/components/Notice.scss";
@import "assets/styles/components/SideBar.scss";
@import "assets/styles/components/Calendar.scss";

//body {
//  background-color: $bg-body !important;
//}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bdbdbd;
}
